# Xcode
.DS_Store
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.playground/xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
!xcshareddata
!xcschemes

# Swift Package Manager
.swiftpm/

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Optional: Add if you use specific tools or need to ignore other files
# .env
# .env.*
# *.swp
# *~.nib
